@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.menu-wrapper {
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    align-items: center;
    gap: 10px;
    pointer-events: none;
}

.menu-button {
    display: flex;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    /* background-color: white; */
    fill-opacity: 80%;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.3);
    border-color: darkgray;
    border-style: solid;
    border-width: 1px;
    transition: all 0.1s ease-out;
    mix-blend-mode: difference;
    pointer-events: auto;
}
.menu-button:hover {
    background-color: white;
    fill-opacity: 100%;
}

.logo {
    mask-image: radial-gradient(rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 70%);
    pointer-events: auto;
    /* opacity: 20%; */
}

.noise {
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

    /* background: 
        radial-gradient(red, transparent), 
        url(https://grainy-gradients.vercel.app/noise.svg);
    filter: contrast(170%) brightness(1000%);   */
}

.noise-bg {
    background: 
        linear-gradient(to right, white, transparent),
        url(https://grainy-gradients.vercel.app/noise.svg);
    backdrop-filter: contrast(170%) brightness(100%);
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
